@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
}

h1 {
  font-weight: 400;
  font-size: 80px;
  line-height: 1.0;
  margin-bottom: 20px;
  background-color: navy;
  opacity: .7;
  border-radius: 30px;
}

a {
  text-decoration: none;
  color: #4b5163;
}

#main {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

#video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("cover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#content {
  color: white;
  z-index: 2;
  text-align: center;
  padding-top: 400px;
}

.tagline {
  color: orange;
  text-shadow: 4px 4px 4px white, 4px 4px 4px orange;
}
#click {
  display: inline-block;
  margin-top: 5px;
  border: 2px solid navy;
  padding: 10px 30px;
  background-color: #4b5163;
  color: navy;
  border-radius: 10px;
  font-size: 20px;
  opacity: 0.8;
}

#click:hover {
  transform: scale(0.95);
}



