* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  color: white;
}


#pageBackground {
  width: 100vw;
  height: 100vh;
  background-image: url(Images/Football.jpeg); 
  opacity: .95;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100%;
}


/* TOP SECTION STYLING */

#topSection {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  height: 30vh;
  /* background: green; */
}

#topLeft {
  position: relative;
  top: 10%;
  left: 10%;
  width: 20%;
  height: 75%;
  
}
#helmetLeft {
  display: block;
  position: absolute;
  background:   transparent;
  width: 300px;
  height: auto;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  color: #FFF;
  opacity: 0.85;
  border-radius: 10px;
  padding: 10px;
  }
.tagline {
  font-size: 30px;
  color: navy;
}

#topMiddle {
  position: relative;
  top: 10%;
  width: 30%;
  height: 75%;
  /* background-color: hotpink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#topRight {
  position: relative;
  top: 10%;
  right: 12%;
  width: 10%;
  height: 75%;
  /* background-color: red; */
}


/* MIDDLE SECTION STYLING */

#middleSection {
  width: 100vw;
  height: 40vh;
  line-height: 4em;
  margin-top: 100px;
}

#teamLogoLeft {
  width: 85%;
  height: 70%;
  /* background: coral; */
  position: relative;
  left: 5%;
  top: 12%;
}

#teamLogoRight {
  width: 85%;
  height: 70%;
  /* background: coral; */
  position: relative;
  top: 12%;
  right: -10%;
}

#statContainer {
  display: flex;
  width: 100vw;
  height: 100%;
  margin: auto;
  position: relative;
  top: 5%;
  align-items: center;
  justify-content: space-around;
  background: #9ec38a99;
  color: navy;
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
}
#statNames {
  text-align: center;
  width: 25%;
}

#leftTeamStats {
  text-align: left;
  width: 25%;
}

#rightTeamStats {
  text-align: right;
  width: 25%;
}







/* BOTTOM SECTION STYLING */

#bottomSection {
  width: 100vw;
  height: 20vh;
  background-color: #0006;
  display: flex;
  justify-content: space-around;
  overflow: hidden;

}

#bottomLeft {   
  width: 30%;
  height: 80%;
  position: relative;
  top: 10%;
  /* background: cornflowerblue; */
}

#bottomMiddle {
  width: 30%;
  position: relative;
  top: 45%;
  text-align: center;
  color: white;
  font-size: 2rem;
  letter-spacing: 2px;
}

#bottomRight {
  width: 30%;
  height: 80%;
  position: relative;
  top: 10%;
  /* background: cornflowerblue; */
}

/* Carousel Styling for Multi-Teams*/
body {
background: #333;
padding: 0 0 70px 0;
font: 15px/20px Arial, sans-serif;
}

.container {
margin:  auto;
width: 250px;
height: 200px;
position: relative;
perspective: 1000px;
}

.carousel {
height: 100%;
width: 100%;
position: absolute;
transform-style: preserve-3d;
transition: transform 1s;
padding: 25px;
}

.item {
display: block;
position: absolute;
background: #000;
width: 250px;
height: 200px;
line-height: 200px;
font-size: 5em;
text-align: center;
color: #FFF;
opacity: 0.95;
border-radius: 10px;
padding: 10px;
}

.packers {
transform: rotateY(0deg) translateZ(250px);
background: #203731;
}
.vikings {
transform: rotateY(72deg) translateZ(250px);
background: #4F2683;;
}
.lions{
transform: rotateY(144deg) translateZ(250px);
background: #0076B6;
}
.colts {
transform: rotateY(216deg) translateZ(250px);
background: #002C5F;
}
.eagles {
transform: rotateY(288deg) translateZ(250px);
background: #004C54;
} 
.bears {
transform: rotateY(360deg) translateZ(250px);
background: #080808;
}

.next, .prev {
color: navy;
position: absolute;
top: 265px;
padding: .25em 2em;
cursor: pointer;
background: white;
border-radius: 5px;
border-top: 1px solid #FFF;
box-shadow: 0 5px 0 navy;
transition: box-shadow 0.1s, top 0.1s;
}
.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
top: 265px;
box-shadow: 0 1px 0 #999;
}
.prev { right: 5em; }
.next { left: 15em; }

/* Carousel Styling for Bears/

/* Styling for a-tags in Carousel (for the click on EventListener) */
.click {
  cursor: pointer;
}
/* Initial styling of div img for the click on EventListener (so the image from the API will show up ok) */
#bottomRight, #bottomLeft {
  text-align: center;
}
#teamNameRight, #teamNameLeft {
  max-height: 100%;
  max-width: 100%;
}
li {
  list-style: none;
}
/* Footer Styling */
footer {
  margin-top: 20px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
}
footer p {
  margin: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer a {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  color: white;
}


/* This will make them turn their screens if they have them in a portrait orientation. Will will need some other media queries, but this is a start */
@media only screen and (orientation: portrait) {
  body {
    height: 100vw;
    transform: rotate(90deg);
  }
}